<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>PerntaPAGE</title>
		<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

		<link rel="stylesheet" type="text/css" href="{% static '/flashcards/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/flashcards/css/style.css' %}">
	</head>
	<body>
		{% if decks %}
			<ul>
				{% for deck in decks %}
					<li>{{deck}}</li>
				{% endfor %}
			</ul>
		{% else %}
			<h2>NoDecks Found</h2>
		{% endif %}
		<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->

		<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
		<script type="text/javascript" src="{% static '/flashcards/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/flashcards/js/jquery-3.2.1.min.js' %}"></script>

			<!-- <script src=""></script> -->
		  <!-- <script src="js/jquery-3.2.1.min.js"></script> -->
		<div class="container register">
			<div class="row">
				<div class="col-md-3 register-left">
						<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
						<h3>Welcome TO <br> PentaPAGE </h3>
						<input type="submit" name="" value="Login"/><br/>
				</div>
				<div class="col-md-9 register-right">
					<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
							<!-- <li class="nav-item">
									<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Refist</a>
							</li> -->

					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<h3 class="register-heading">Registration form</h3>
							<form method="POST">
								{% csrf_token %}
								<div class="row register-form">
									<div class="col-md-6">

											<div class="form-group">
													<input type="text" class="form-control" placeholder="First Name *" name='first_name' />
											</div>
											<div class="form-group">
													<input type="text" class="form-control" placeholder="Last Name *"name='last_name'/>
											</div>
											<div class="form-group">
													<input type="password" class="form-control" placeholder="Password *"name='password'/>
											</div>
											<div class="form-group">
													<input type="password" class="form-control"  placeholder="Confirm Password *"name='confirm_password'/>
											</div>
											<!-- <div class="form-group">
													<div class="maxl">
															<label class="radio inline">
																	<input type="radio" name="gender" value="male" checked>
																	<span> Male </span>
															</label>
															<label class="radio inline">
																	<input type="radio" name="gender" value="female">
																	<span>Female </span>
															</label>
													</div>
											</div> -->
									</div>
									<div class="col-md-6">
											<div class="form-group">
													<input class="form-control" placeholder="Your Email *"name='email'/>
											</div>
											<div class="form-group">
													<input type="text" minlength="3" maxlength="10" class="form-control" placeholder="Your Phone *"name='phone_number'/>
											</div>
											<!-- <div class="form-group">
													<select class="form-control">
															<option class="hidden"  selected disabled>Please select your Sequrity Question</option>
															<option>What is your Birthdate?</option>
															<option>What is Your old Phone Number</option>
															<option>What is your Pet Name?</option>
													</select>
											</div>
											<div class="form-group">
													<input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
											</div> -->
											<input type="submit" class="btnRegister"  value="Register"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
