
#overlay {
  position:absolute;
  z-index:25;
  height: 85%;
  width: 20%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff434;
  display: none;
  border-bottom-right-radius: 125px;
}
#popup {
  max-width: 600px;
  width: 80%;
  max-height: 300px;
  height: 80%;
  padding: 20px;
  position: relative;
}

#close {
  position: absolute;
  top: 10px;
  left: 105%;
  cursor: pointer;
  color: #000;
}
#trigger {
  width:100%;
  height:100%;
}
.btnmegn {
  margin-top:25px;
}


.ct-nav {
  position: relative;
  top: 0;
}


a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}

a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.ct-u-paddingTop10 {
    padding-top: 10px !important
}

.ct-footer {
    background-color: #111;
    position: relative;
}

.ct-footer-meta {
    padding-top: 30px;
}

.ct-footer-meta .ct-socials {
    padding: 20px 0;
}


address {
    color: #fff;
    display: inline-block;
}

address span {
    font-weight: 600
}

address a {
    color: #fff;
}

address a:hover {
    text-decoration: underline
}

@media (max-width:767px) {
    address {
        padding-top: 30px
    }
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width:250px
}

/*nav*/

.navbar {
  position: absolute;
  z-index:12;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  border: none;
}

.topbar {
  margin: 15px 10px;
  width:100%;
  font-family: Arial;
}
.topbar:before, .topbar:after {
  content: " ";
  display: table;
}
.topbar:after {
  clear: both;
}
.topbar li {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  float: right;
  -webkit-transition: background-color 250ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: background-color 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.topbar li + li {
  margin-right: 6px;
}
.topbar li a {
  text-decoration: none;
}

li a img{
  width:auto;
  height:125px;
  margin-top: -15px;
  margin-right:-20px;
}
.topbar li.topbar__socials {
  background-color: white;
  color: #111f1d;
  width: 47px;
  text-align: center;
  font-size: 31px;
}
.topbar li.topbar__socials:hover {
  background-color: #e6e6e6;
}

.topbar li .fa {
  padding: 20% 0;
}
.topbar li.topbar__phone {
  background: #00aceb;
  font-size: 42px;
}
.topbar li.topbar__phone:hover {
  background-color: #1180d3;
}
.topbar li.topbar__search {
  width: 47px;
  text-align: center;
  background: #2fbfbc;
  position: relative;
}
.topbar li.topbar__search a {
  display: block;
  position: relative;
  background: #2fbfbc;
}

.topbar li.topbar__search.active .topbar__search-form {
  width: 441px;
}
.topbar li.topbar__search:hover a {
  background-color: #259694;
}
.topbar li.topbar__item {
  letter-spacing: -1.55px;
  width:auto;
}
.topbar li.topbar__item + li {
  margin-right: 10px;
}
.topbar li.topbar__item:hover {
  text-decoration: underline;
}
.ct-sidenav .ct-footer-header {
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
}
.ct-footer-header {
    font-family: 'Open Sans Condensed', sans-serif;
}
.ct-footer-header {
    color: #00bff3;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    padding: 30px 0 25px;
    padding: 3rem 0 2.5rem;
}
.address {
    font-size: 14px;
    font-size: 1.4rem;
}
.address span {
    display: block;
    margin-top: 5px;
    margin-top: 0.5rem;
}
.ct-sidenav .ct-footer-header {
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
}

.page {
background-color: #2d2d2d;

  position: relative;
  width: 100%;
  max-width: 1920px;
}


.content-html {
  position: absolute;
  top:197px;
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: #2d2d2d;
}
.content-html .content-html-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 340px;
    margin: 0 auto;
    padding: 0;
}
.content-html .content-html-wrapper .item {
      position: relative;
      overflow: hidden;
      width: auto;
      max-width: 25%;
      height: auto;
      background-color: #2d2d2d;

      border-left: 1px solid #000000;
      border-bottom: 1px solid #000000;
      border-bottom-right-radius: 125px;
      border-top-left-radius: 25px;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
}
.content-html .content-html-wrapper .item .image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 70%;
        -webkit-transform: translate(-50%, -50%) scale(0.9);
        -ms-transform: translate(-50%, -50%) scale(0.9);
        transform: translate(-50%, -50%) scale(0.9);
        -webkit-transition: 1.0s ease-in-out;
        -o-transition: 1.0s ease-in-out;
        transition: 1.0s ease-in-out;
}
.content-html .content-html-wrapper .item .info {
        position: absolute;
        width: auto;
        height: auto;
        /* border-style: dashed; */
}
.content-html .content-html-wrapper .item .info .category{
          position: relative;
          width: auto;
          height: auto;
          font-family: Technodom;
          font-weight: 300;
          font-size: 18px;
          line-height: 18px;
          /* color: #CCCCCC; */
          color:white;
          /* color:black; */
          text-transform: uppercase;
          padding-bottom: 5px;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
}
.content-html .content-html-wrapper .item .info .note {
          position: relative;
          width: auto;
          height: auto;
          font-family: Technodom;
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          color: white;

          text-transform: uppercase;
          padding-bottom: 20px;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
}
.content-html .content-html-wrapper .item .info .discount{
          position: relative;
          width: auto;
          height: auto;
          font-family: Technodom;
          font-weight: 600;
          font-size: 50px;
          line-height: 50px;
          color: #FF7927;
          text-transform: uppercase;
}
.content-html .content-html-wrapper .item .info .discount span{
            display: inline-block;
            position: relative;
            width: auto;
            height: auto;
            font-size: 40px;
            line-height: 40px;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
}
.content-html .content-html-wrapper .item .info-bottom {
        left: 30px;
        bottom: 30px;
}
.content-html .content-html-wrapper .item .info-top {
        left: 30px;
        top: 30px;
}
.content-html .content-html-wrapper .item:last-child {
        border-right: none;
}
.content-html .content-html-wrapper .item:hover, .content-html .content-html-wrapper .item:active {
        background-color: #FFFFFF;
}
.content-html .content-html-wrapper .item:hover .image, .content-html .content-html-wrapper .item:active .image {
          -webkit-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.content-html .content-html-wrapper .item:hover .category, .content-html .content-html-wrapper .item:active .category {
          color: #666666;
}
.content-html .content-html-wrapper .item:hover .note, .content-html .content-html-wrapper .item:active .note {
          color: #222222;
}
@-webkit-keyframes item-span-animation {
0% {
    -webkit-transform: translate3d(0px, 0px, -30px) rotateY(0deg);
    transform: translate3d(0px, 0px, -30px) rotateY(0deg);
}
100% {
    -webkit-transform: translate3d(0px, 0px, -30px) rotateY(360deg);
    transform: translate3d(0px, 0px, -30px) rotateY(360deg);
}
}
@keyframes item-span-animation {
0% {
    -webkit-transform: translate3d(0px, 0px, -30px) rotateY(0deg);
    transform: translate3d(0px, 0px, -30px) rotateY(0deg);
}
100% {
    -webkit-transform: translate3d(0px, 0px, -30px) rotateY(360deg);
    transform: translate3d(0px, 0px, -30px) rotateY(360deg);
}
}
.content-html .content-html-wrapper .item:hover .discount span, .content-html .content-html-wrapper .item:active .discount span{
          -webkit-animation: item-span-animation 2.0s ease-in-out infinite;
          animation: item-span-animation 2.0s ease-in-out infinite;
}
@-webkit-keyframes item-1-image-animation {
0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
50% {
    -webkit-transform: translate(0, -30px);
    transform: translate(0, -30px);
}
100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
}
@keyframes item-1-image-animation {
0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
50% {
    -webkit-transform: translate(0, -30px);
    transform: translate(0, -30px);
}
100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
}
.content-html .content-html-wrapper .item-1 .image .picture {
      position: absolute;
      width: 384px;
      height: 366px;
      right: 45px;
      top: -78px;
      -webkit-animation: item-1-image-animation 7.8s ease-in-out infinite;
      animation: item-1-image-animation 7.8s ease-in-out infinite;
}
@media (min-width: 1025px) and (max-width: 1365px) {
.content-html .content-html-wrapper .item .image {
    -webkit-transform: translate(-50%, -50%) scale(0.6);
    -ms-transform: translate(-50%, -50%) scale(0.6);
    transform: translate(-50%, -50%) scale(0.6);
}
.content-html .content-html-wrapper .item:hover .image, .content-html .content-html-wrapper .item:active .image {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    -ms-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
}
.content-html .content-html-wrapper .item-1 .image .picture {
    right: -45px;
    top: -160px;
}
@media (min-width: 240px) and (max-width: 1024px) {
  .content-html .content-html-wrapper {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
  }
  .content-html .content-html-wrapper .item {
        max-width: 100%;
        height: 160px;
        border-right: none;
        border-bottom: 1px solid #000000;
  }
  .content-html .content-html-wrapper .item .image {
          -webkit-transform: translate(-50%, -50%) scale(0.4);
          -ms-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  }
  .content-html .content-html-wrapper .item .info .category {
          font-size: 16px;
          line-height: 16px;
          padding-bottom: 5px;
  }
  .content-html .content-html-wrapper .item .info .note {
          font-size: 16px;
          line-height: 16px;
          padding-bottom: 20px;
          color:black;
  }
  .content-html .content-html-wrapper .item .info .discount {
          font-size: 40px;
          line-height: 40px;
  }
  .content-html .content-html-wrapper .item .info .discount span {
            font-size: 30px;
            line-height: 30px;
  }
  .content-html .content-html-wrapper .item:hover .image, .content-html .content-html-wrapper .item:active .image {
          -webkit-transform: translate(-50%, -50%) scale(0.46);
          -ms-transform: translate(-50%, -50%) scale(0.46);
          transform: translate(-50%, -50%) scale(0.46);
  }
  .content-html .content-html-wrapper .item-1 .image .picture {
        right: -250px;
        top: -50px;
  }
}






.promo-slider {
    position:relative;
    overflow: hidden;
    width:100%;
    height: 250px;
    background-color: #2d2d2d;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlides img {
  max-width:100%;
  max-height:100%;
  position: inherit;
}
.mySlides {
  height:250px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  border-bottom: 25px solid #399999;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */




.topbar .menu-item {
    display: none;
}


.mform {
    padding:15px 25px;
}
.fform {
  padding:15px 25px;
  background-color:#5d5396;
  border-radius:25px;
  margin:15px 25px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #333333;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 3;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
